#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  margin: 2rem;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.docs {
  color: #888;
  font-weight: lighter;
  transition: all .35s ease-in-out;
}

.docs:hover {
  font-size: 1.25rem;
  color: #719fec;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  margin-bottom: 5rem;
  font-weight: 500;
  line-height: 1.15;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.15;
}

h3 {
  font-size: 1.5rem;
  font-weight: lighter;
}

p {
  font-size: 1.1rem;
  font-weight: lighter;
}

.infoCard {
  width: 15rem;
  height: 8rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}

.infoText {
  font-size: 2.5rem;
}

@media only screen and (max-width: 650px) {
  .infoCard {
    width: 7.5rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  .infoText {
    font-size: 1rem;
  }
}

.projectLink {
  color: #ffffff;
  transition: all .3s ease-in-out;
  font-size: 1.25rem;
  border: 2px solid white;
  border-radius: 6px;
  padding: 2.5px 10px;
}

.projectLink:hover {
  color: #719fec;
  transform: scale(1.2);
}

@media only screen and (max-width: 900px) {
  .infoCard {
    width: 6rem;
    height: 3.5rem;
    font-size: 1.25rem;
  }
  .infoText {
    font-size: 1rem;
  }
}