#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  border: 2.5px solid lightgray;
  border-radius: 6px;
  padding: 0px 10px;
  background-color: #252525;
  font-size: 2rem;
  margin: 2rem;
  height: 75vh;
  width: 50vw;
}

.docs {
  color: #888;
  font-weight: lighter;
  transition: all .35s ease-in-out;
}

.docs:hover {
  font-size: 1.25rem;
  color: #6b9acf;
}

.infoCard {
  width: 15rem;
  height: 8rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.2rem;
  margin-bottom: 5rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
  font-weight: lighter;
}