.headerInfo {
    font-size: 2rem;
}

.title {
    font-weight: bold;
    font-size: 2.75rem;
    text-align: center;
}

.journalContent {
    font-size: 1.5rem;
}

.journalResponses {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 1.25rem;
    text-indent: 25px;
}

.journalButton {
    color: #ffffff;
    text-decoration: none;
    font-size: larger;
    border: 2px solid white;
    border-radius: 6px;
    padding: 2.5px 10px;
    margin: 10px 0px;
    width: 100%;
    white-space: normal;
    transition: 0.5s;
  }
  
  .journalButton:hover {
    background-color: #ffffff;
    transition: 0.5s;
    color: #000000;
  }

  .essaySubtitle {
    text-align: center;
    font-size: 1.75rem
  }

  .essayContent {
    font-size: 1.35rem;
    text-indent: 40px;
    font-weight: lighter;
  }

/* Equivalent for `animate-fade-up` */
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(32px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation-name: fade-in;
  animation-duration: 750ms;
  opacity: 1;
}

@keyframes hidden {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.hidden {
  opacity: 0;
  transition: all 1s;
}