:root {
    --button-glow-color: #6499e9;
}

.navbarText {
    color: #ffffff;
    font-size: 1.25rem;
}

.navbarLink {
    color: #ffffff;
    transition: all .3s ease-in-out;
    font-size: 1.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbarLink:hover {
    color: #719fec;
    /*font-size: 1.5rem;*/
    transform: scale(1.25);
}

@media only screen and (max-width: 640px) {
    .navbarLink {
        font-size: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
  }
